<h3>Pragmatic Order Shipped</h3>
Dear <%= @order.user.username %><br>
Thank you for your recent order from The Pragmatic Store.
You ordered the following items:
We'll send you a separate e-mail when your order ships.
<table>
  <tr><th colspan="2">Qty</th><th>Description</th></tr>
  <%= render @order.line_items %>
  <%= @order.distance %>
</table>